*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 height: 620px;
 background-color: silver;
 display: inline-block;
 padding: 20px;
 padding-top: 10px;
}
#header{
 height: 150px;
 background-color: green;
 display: block;

}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-top: 20px;

}
#main_content{
 height: 400px;
 width: 690px;
 background-color: red;
 display: inline-block;
 padding-top: 10px;
 padding-right: 30px;
 padding-bottom: 40px;
 padding-left: 10px;
 position: absolute;
 margin: 20px;

}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 5px;
}
#advertisement{
 height: 120px;
 width: 680px;
 background-color: purple;
 display: inline-block;
 margin-top: 30px;
 margin-left: 10px;
}